.app {

}

.header {
  position: relative;
  width: 1270px;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #343951;
}

.search {
  position: relative;
  width: 1270px;
  height: 60px;
  background: #ffffff;
}

.logo {
  background-image: url("./Logo.png");
  background-repeat: no-repeat;
  margin-top: 1.8%;
  margin-bottom: 1.756%;
  margin-right: 95.115%;
  margin-left: 10%;;

  position: absolute;
  width: 11.685%;
  height: 50%;
}


.body {  
  background: #D8D8D8;
  width: 1270px;
  height: 460px;
}

