
.candidate {
    display: flex;
    position: absolute;
    width: 56px;
    height: 46px;
    
    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color: #7C7C80;

    margin-top: 12px;
    margin-right: 874px;
    margin-left:  12px;
}
.role {
    position: absolute;
    width: 110px;
    height: 46px;
    
    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color: #7C7C80;

    margin-top: 12px;
    margin-right: 654px;
    margin-left:  178px;
}
.lastComm {
    position: absolute;
    width: 110px;
    height: 46px;
    
    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color: #7C7C80;

    margin-top: 12px;
    margin-right: 487px;
    margin-left:  345px;
}
.salary {
    position: absolute;
    width: 35px;
    height: 46px;
    
    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color: #7C7C80;

    margin-top: 12px;
    margin-right: 319px;
    margin-left:  588px;
}
.sentBy {
    position: absolute;
    width: 56;
    height: 46px;

    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color: #7C7C80;

    margin-top: 12px;
    margin-right: 135px;
    margin-left:  697px;
}
.archive {
    position: absolute;
    width: 56;
    height: 46px;

    font-family: ProximaNova;
    font-size: 12px;
    line-height: 12px;
    color:#40AADB;;
    cursor:pointer;

    margin-top: 12px;
    margin-right: 15px;
    margin-left:  887px;
}
.oval {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #34B96F;
    margin-left: -5%;
  }

  .archivedColor {
      background-color: yellow;
  }