.candidateList{
    position: absolute;
    width: 942px;
    height: 372px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px 2px 2px 2px;

    margin-top: 40px;
    margin-bottom: 228px;
    margin-right: 134px;
    margin-left: 124px;
}

.interviews {
    position: absolute;
    width: 109px;
    height: 12px;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    text-align: right;

    color: #7C7C80;

    margin-top: 20px;
    margin-bottom: 608px;
    margin-right: 134px;
    margin-left:  957px;
}

.tableHeaders {
    position: absolute;
    width: 942px;
    height: 35px;

    background: #F9FAFB;

    margin-bottom: 565px;
    margin-right: 134px;
}

.archived {
    position: absolute;
    width: 942px;
    height: 35px;

    background: #F9FAFB;

    margin-bottom: 565px;
    margin-right: 134px;
}

.notArchived {
    position: absolute;
    width: 942px;
    height: 35px;

    background: #FFFFFF;

    margin-bottom: 565px;
    margin-right: 134px;
}

.candidate {
    position: absolute;
    width: 56px;
    height: 12px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 874px;
    margin-left:  12px;
}
.role {
    position: absolute;
    width: 110px;
    height: 12px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 654px;
    margin-left:  178px;
}
.lastComm {
    position: absolute;
    width: 150px;
    height: 12px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 487px;
    margin-left:  345px;
}
.salary {
    position: absolute;
    width: 35px;
    height: 12px;
    
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 319px;
    margin-left:  588px;
}
.sentBy {
    position: absolute;
    width: 56;
    height: 12;

    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 135px;
    margin-left:  697px;
}
.archive {
    position: absolute;
    width: 56;
    height: 12;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    margin-top: 12px;
    margin-bottom: 11px;
    margin-right: 15px;
    margin-left:  887px;
}

.arrow {
    position: absolute;
    width: 5px;
    height: 5px;
    margin-left: 5px;
}